.displayNone {
  display: none;
}

canvas.StageView {
  width:100%;
  height:56.25%;
}

td.VideoCell {
  width: 33.3%;
}

td.DisplayMediaCell {
  width: 33.4%;
}

td.AudioCell {
  width: 33.3%;
}

Table.AVTrack tbody tr td div button {
  margin-right: 5px;
}
