.App {
  text-align: center;
}

.App-body-footer-open {
  height: calc(100% - 58px - 280px);
  margin-top: 58px;
}

.App-body-footer-closed {
  height: calc(100% - 58px - 50px);
  margin-top: 58px;
}

.App-logo {
  height: 30px;
  pointer-events: none;
}

.App-body {
  height: 100%;
  overflow: hidden;
}

.App-body img {
  height: auto;
  width: 100%;
}

.App-menu {
  background-color: #454c57;
  height: 100%;
  overflow-y: auto;
}

.App-rightPane {
  background-color: #454c57;
  overflow: auto;
  height: 100%;
}

.App-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 58px;
  background-color: #515966;
  color: white;
  vertical-align: center;
}

.App-footer-open {
  height: 280px;
  overflow: hidden;
}

.App-footer-closed {
  height: 50px;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
