div.ProjectTracks{
    height: calc(100% - 480px);
    overflow: auto;
}


td.track-preview{
    text-align: left;
}

td.track-preview video{
    width: auto;
    height: 100px;
}

td.track-preview button.padRight{
    margin-right: 10px;
}